#rgbValue
    display inline-block


#showPicker 
    display inline-block


.colorPicker 
    background #E8E6E0
    border 1px solid #BBB
    border-radius .3em
    margin 1em
    display inline-block

.colorPicker .extras .currentColorContainer 
    float right
    overflow hidden

.colorPicker .extras .currentColor 
    display inline-block
    width 3.5em
    height 1.5em
    border 1px solid #BBB
    border-radius .3em

.colorPicker .extras
    float right
    margin-top 0.5em
    margin-bottom 0.5em
    margin 0.5em
    width 7em
    input 
        display inline-block
        width 4em
        margin-left 0.5em
    label
        display inline-block
        width 1em
    .colorFields, 
    .hex
        float right
        text-align right
        display block

.colorPicker .twod 
    float left
    margin 0.5em


/* main dimensions */
.colorPicker .twod, .colorPicker .twod .bg 
    width 15em
    height 15em

.colorPicker .oned, .colorPicker .oned .bg 
    height 15em

.colorPicker .oned, .colorPicker .oned .bg, .colorPicker .oned .pointer .shape 
    width 1em


.colorPicker .twod .bg 
    position absolute

    /* These seem to cause issues in some browsers, careful!
    border 1px solid #BBB
    -moz-border-radius .3em
    border-radius .3em
    */

.colorPicker .twod .pointer 
    position relative
    z-index 2
    width 0.5em

.colorPicker .twod .pointer .shape 
    position absolute

.colorPicker .twod .pointer .shape1 
    margin-left -0.3em
    margin-top -0.3em
    width 0.5em
    height 0.5em
    border 1px solid black
    border-radius 0.3em

.colorPicker .twod .pointer .shape2 
    margin-left -0.3em
    margin-top -0.3em
    width 0.4em
    height 0.4em
    border 1px solid white
    border-radius 0.2em


.colorPicker .oned 
    display inline-block
    margin 0.5em


.colorPicker .oned .bg 
    border 1px solid #BBB
    /*
    -moz-border-radius .3em
    border-radius .3em
    */


.colorPicker 
    .oned
        padding 0
        background linear-gradient(to bottom,  #ff0000 0%,#ffff00 17%,#00ff00 33%,#00ffff 50%,#0000ff 66%,#ff00ff 83%,#ff0000 100%)
        .pointer 
            position relative
            height 1px
            border 1px solid black

        &.alpha
            background-size 14px 14px
            background-image linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black),
                linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black)
            background-position 0 0, 7px 7px
            float left
            margin 0
            .bg
                background-image linear-gradient(to bottom, black 0%, transparent 100%)

    .twod .bg1
        background linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%),
            linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%)