nginx.conf
node_modules
public/media
sessions
.log
.*
*~
*.css
public/lib
public/Frames
public/project
public/uImages
public/css
BD.js
asdf
test/lib
test/*/*.png
*.orig
floobits
*.sublime-project
*.sublime-workspace
