br
script(src='/libs/peer.js')
script(src='/liveP2p.js')
link(rel="stylesheet", href="/css/Canvas.css")
form
	label Cargar una imagen
	input(type ="file", name="canvasFile")
	input#enviar(type="button", value="Enviar")
br
div#objetos
	canvas#canvas(width="1200", height="650")
	canvas#imagen(width="1200", height="650")
br
script(src="/Canvas.js")