br
link(rel="stylesheet", href="../Canvas.css")
form
	label Cargar una imagen
	input(type ="file")
	input#enviar(type="button", value="Enviar")
br
div#objetos
	canvas#imagen(width="1200", height="650")
	canvas#canvas(width="1200", height="650")
br

script(src="../Canvas.js")