br
script(src='/lib/peer.js')
link(rel="stylesheet", href="/css/canvas.css")
form
	label Cargar una imagen
	input(type ="file", name="canvasFile")
	input#enviar(type="button", value="Enviar")
div.brushOptions
	h3 Brush Options
	div
		canvas#picker(width="300", height="200")
		canvas#preview(width="50", height="50") 
		div.rgba
			div.opacity
				|Opacity: 
				input#alpha(type="number", value="1", min="0", max="1", size="3") 
				div#alphaSlider
			|R: 
			input#red(type="number", value="0", min="0", max="255", size="3")
			br
			|G: 
			input#green(type="number", value="0", min="0", max="255", size="3")
			br
			|B: 
			input#blue(type="number", value="0", min="0", max="255", size="3")
		br
		|Stroke Size: 
		input#strokeSize(type="number",value="3", size="3")
		|px
		div#sizeSlider
br
div#objetos
	canvas#canvas(width="1200", height="650")
	canvas#imagen(width="1200", height="650")