
input#clear(type="button", value="Clear")
div#brushPanel
    h3 Brush Options
    div#eraser
        input(type="checkbox", default="false")
        |Eraser mode
    |Stroke Size: 
    input#strokeSize(type="number",value="3", size="3")
    |px
    div#sizeSlider
        
div#canvas
    canvas.active(width="1240", height="780")