
form#login
	h2 Login to Crystal Turtle
	| Username or e-mail: 
	input(type="text", name="name", autofocus="autofocus")
	br
	| Password:
	input(type="Password", name="pass")
	input(type="checkbox", name="remember", value="remember") 
	| Remember me
	input(type="submit", name="submit", value="submit")