

div#wysiwyg
	link(rel="stylesheet", href="/lib/tinyeditor/tinyeditor.css")
	script(src="/lib/tinyeditor/tiny.editor.packed.js")
	input#issueTitle(type"text")
	br
	textarea#issueWriter(cols="80", rows="20", rezisable="false")
	br
	input#submitIssue(type="button", value="Submit")