script(src="../ProjectForm.js")
form#newProject
	| Title 
	input(type="text", name="title")
	| Invite members
	input(type="text", name="members")
	| Format
	select(name="type")
		option(value="movie") Movie
		option(value="shortfilm") Shortfilm
		option(value="miniseries") Miniseries
		option(value="series") Series
	| Genre 
	input(type="text", name="tags") 
	input(type="submit", name="submit", value="submit")