!!!
meta(charset="utf-8") 
html(lang="en")
	head
		title #{project}
		link(rel="stylesheet", href="../Proyecto.css")
		script(src="../jquery.js")
		script(src="../Script.js")
	body
		form#script
			textarea#content(cols="80", rows="30")
			input(type="submit", value="submit")
