
form#newUser
	h2 Become a Crystal Turtle User
	| Name: 
	input(type="text", name="name")
	br
	| Email:
	input(type="text", name="email")
	br
	| Password:
	input(type="Password", name="pass")
	input(type="submit", name="submit", value="submit")