!!!
meta(charset="utf-8")
html(lang="en")
	head
		title #{user}'s Profile
		link(rel="stylesheet", href="../Proyecto.css")
		script(src="../jquery.js")
	body
		div#UserProfile
			img(src="../media/img/newUser.jpeg")
			br
			span#name #{user}
			br		
			span#email #{email}
