#area
	padding 0 2em
	width 95%

#project
	background-color #E5E5D8
	display inline-block
	font-size 0.8em
	margin 0.3em
	padding 1em
	vertical-align top
	width 15%
	.detail
		height 50px
	.title
		font-size 1.5em
		font-family 'KenyanCoffeeRgRegular'
		a:link, a:visited, a:hover, a:active
			text-decoration none
	.thumb
		width 97%
		height 100px